<p>home works!</p>
<h1>List of users</h1>
<app-loading *ngIf="loading"> </app-loading>

<div
  class="btn-toolbar"
  role="toolbar"
  style="padding-top: 5px; padding-bottom: 10px"
>
  <div class="btn-group">
    <!-- <button class="btn btn-success" [routerLink]="['add']"> -->
    <button clas="btn btn-success" (click)="addUser()">
      add new user/legg til ny bruker
    </button>
  </div>
</div>
<div>
  <ul>
    <li *ngFor="let user of users">
      <img [src]="user.avatar" />
      <p>{{ user.first_name }} {{ user.last_name }}</p>
      <div style="padding-top: 5px; width: 18rem">
        <button
          class="btn btn-outline-primary btn-sm"
          (click)="userDetails(user.id)"
        >
          Details/Detaljer
        </button>
        <button
          class="btn btn-danger btn-sm"
          title="delete user"
          (click)="deleteUser(user)"
        >
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
